<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tliasservice.mapper.ClazzMapper">
    <select id="pageList" resultType="com.tliasservice.pojo.Clazz">
        SELECT c.*,e.name AS master_name,
            (CASE 	WHEN CURDATE() &gt; end_date THEN '已结课'
                    WHEN CURDATE() &lt; begin_date THEN '未开课'
                    ELSE '在读中' END) AS status
        FROM clazz c LEFT JOIN emp e
        ON c.master_id=e.id

        <where>
            <if test="name!=null and name!=''">
                and c.name LIKE CONCAT('%',#{name},'%')
            </if>

            <if test="begin!=null">
                and c.end_date &gt;= #{begin}
            </if>

            <if test="end!=null">
                and c.end_date &lt;= #{end}
            </if>
        </where>
    </select>

    <update id="updateById">
        update clazz
        <set>
            <if test="name!=null and name!=''">name=#{name},</if>
            <if test="room!=null and room!=''">room=#{room},</if>
            <if test="beginDate!=null">begin_date=#{beginDate},</if>
            <if test="endDate!=null ">end_date=#{endDate},</if>
            <if test="masterId!=null ">master_id=#{masterId},</if>
            <if test="subject!=null">subject=#{subject},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
        </set>
        where id=#{id}
    </update>
</mapper>