<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tliasservice.mapper.StudentMapper">
    <select id="pageList" resultType="com.tliasservice.pojo.Student">
        SELECT s.*,c.name AS clazz_name
        FROM student AS s LEFT JOIN clazz c
        ON s.clazz_id=c.id
        <where>
            <if test="name!=null and name!=''">
                and s.name like concat('%',#{name},'%')
            </if>

            <if test="degree!=null ">
                and s.degree=#{degree}
            </if>

            <if test="clazzId!=null">
                and s.clazz_id=#{clazzId}
            </if>

        </where>
    </select>

    <update id="update">
        update student
        <set>
            <if test="name!=null and name!=''">name=#{name},</if>
            <if test="no!=null and no!=''">no=#{no},</if>
            <if test="phone!=null and phone!=''">phone=#{phone},</if>
            <if test="gender!=null">gender=#{gender},</if>
            <if test="degree!=null ">degree=#{degree},</if>
            <if test="idCard!=null and idCard!=''">id_card=#{idCard},</if>
            <if test="isCollege!=null">is_college=#{isCollege},</if>
            <if test="address!=null and address!=''">address=#{address},</if>
            <if test="graduationDate!=null ">graduation_date=#{graduationDate},</if>
            <if test="violationCount!=null ">violation_count=#{violationCount},</if>
            <if test="violationScore!=null ">violation_score=#{violationScore},</if>
            <if test="clazzId!=null ">clazz_id=#{clazzId},</if>
            <if test="updateTime!=null ">update_time=#{updateTime}</if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete">
        delete from student where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="countStudentDegreeData" resultType="java.util.Map">
        SELECT (CASE degree 	WHEN 1 THEN '初中'
                                WHEN 2 THEN '高中'
                                WHEN 3 THEN '大专'
                                WHEN 4 THEN '本科'
                                WHEN 5 THEN '硕士'
                                WHEN 6 THEN '博士' END) AS 'name',COUNT(*) AS 'value'
        FROM student GROUP BY degree
    </select>

    <select id="countStudentClazzData" resultType="java.util.Map">
        SELECT clazz.name AS className,COUNT(*) AS total
        FROM student LEFT JOIN clazz
        ON clazz_id=clazz.id
        GROUP BY clazz.`name`
        ORDER BY total
    </select>
</mapper>